{% extends "arqumhome/plantilla.html" %}
{% block main %}
<main role="main" class="container-fluid">
    <div class="page-content">
        <h2>Inicio</h2>
        <div class="row">
            <div class="col-sm-12">
                <div class="control-container form-horizontal">
                    <div id="chart-container">
                        {% if user.is_authenticated %}
                            <h2>Hola {{ user.username }}</h2>
                        {% else %}
                            <h2>Register or login if you'd like to</h2>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}